/** Ionic CSS Variables **/
// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto|Open+Sans:400italic,700italic,100,300,400,700);

:root {
  /* Set the background of the entire app */
  --ion-background-color: #F7FCFF;

  /* Set the font family of the entire app */
  --ion-font-family: 'Roboto', cursive;

  /** primary **/
  --ion-color-primary: #373E40;
  --ion-color-primary-rgb: 55,62,64;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #303738;
  --ion-color-primary-tint: #4b5153;

  /** secondary **/
  --ion-color-secondary: #A3D1D1;
  --ion-color-secondary-rgb: 163,209,209;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #8fb8b8;
  --ion-color-secondary-tint: #acd6d6;

  /** tertiary **/
  --ion-color-tertiary: #77878B;
  --ion-color-tertiary-rgb: 119,135,139;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #69777a;
  --ion-color-tertiary-tint: #859397;

  /** success **/
  --ion-color-success: #A9E08D;
  --ion-color-success-rgb: 169,224,141;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #95c57c;
  --ion-color-success-tint: #b2e398;

  /** warning **/
  --ion-color-warning: #DDC166;
  --ion-color-warning-rgb: 221,193,102;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #c2aa5a;
  --ion-color-warning-tint: #e0c775;

  /** danger **/
  --ion-color-danger: #A55959;
  --ion-color-danger-rgb: 165,89,89;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #914e4e;
  --ion-color-danger-tint: #ae6a6a;

  /** dark **/
  --ion-color-dark: #5E6A6D;
  --ion-color-dark-rgb: 94,106,109;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #535d60;
  --ion-color-dark-tint: #6e797c;

  /** medium **/
  --ion-color-medium: #77878B;
  --ion-color-medium-rgb: 119,135,139;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #69777a;
  --ion-color-medium-tint: #859397;

  /** light **/
  --ion-color-light: #E3E8EA;
  --ion-color-light-rgb: 207,212,214;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #b6bbbc;
  --ion-color-light-tint: #d4d8da;

}