<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3><ion-badge slot="end">{{ (todos | async)?.length }}</ion-badge> List of todo's:</h3>
  <ion-list>
    <ion-item *ngFor="let todo of todos | async">
      <ion-avatar slot="start" color="primary">
          <ion-icon size="large" name="stopwatch" color="success" *ngIf="todo.type == 'LOW'"></ion-icon>
          <ion-icon size="large" name="alert" color="warning" *ngIf="todo.type == 'MEDIUM'"></ion-icon>
          <ion-icon size="large" name="warning" color="danger" *ngIf="todo.type == 'HIGH'"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{ todo.type }}</h2>
        <h3>{{ todo.desc }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>